/*Guia de estilo

Input:
• Cor da fonte sem foco: #efeeed.
• Cor da fonte com foco: #333333.
• Cor da borda: #efeeed.

Input Inválido:
• Cor da fonte: #eb4a46.
• Cor da borda: #eb4a46.

Botão Habilitado:
• Cor da fonte com foco: #ffffff.
• Cor de background: #00c8b3.

Botão Hover:
• Opacidade do botão com hover: 70%.

Botão Desabilitado:
• Cor da fonte sem foco: #dddcdc.
• Cor de background: #f6f6f6.

*/

$input-color: #efeeed;
$input-color-focus: #333333;
$input-border-color: #efeeed;
$invalid-color: #eb4a46;
$element-height: 2.5rem;
$primary-color: #00c8b3;
$button-disabled-color: #dddcdc;
$button-disabled-background: #f6f6f6;

@mixin button-base {
  height: $element-height;
  line-height: $element-height;
  font-size: 1rem;
  padding: 0 1rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  background-color: $primary-color;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition: opacity 0.3s ease, color 0.3s ease, background-color 0.2s ease;

  &:hover {
    opacity: 0.7;
  }
}