@import "./stylesheets/variables";
@import "./stylesheets/form";
@import "./stylesheets/spinner";
@import "./stylesheets/user";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Arial, sans-serif;
}

.page {
  width: clamp(200px, 95%, 1024px);
  margin: 2rem auto;

  h1 {
    margin-bottom: 2rem;
  }
}

ul {
  list-style: none;
}